header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100px;
  height: auto;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav li a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

nav li a:hover {
  color: #00a8cc;
}




/* Estilo para la galería de imágenes */
.galeria {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
	margin: 20px;
}

.imagen {
	position: relative;
	overflow: hidden;
}

.imagen img {
	width: 100%;
	height: auto;
	transition: transform .3s ease;
}

.imagen:hover img {
	transform: scale(1.2);
}

.imagen h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	margin: 0;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	width: 100%;
	font-size: 18px;
	text-align: center;
	opacity: 0;
	transition: opacity .3s ease;
}

.imagen:hover h3 {
	opacity: 1;
}

.imagen p {
	margin: 0;
	padding: 10px;
	font-size: 14px;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	transition: bottom .3s ease;
}

.imagen:hover p {
	bottom: 0;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 4rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.columna {
  width: 25%;
}

.columna img {
  max-width: 20%;
  height: auto;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1