#map {
  height: 90vh;
  width: 100hw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100px;
  height: auto;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav li a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

nav li a:hover {
  color: #00a8cc;
}



footer {
  background-color: #333;
  color: #fff;
  padding: 4rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.columna {
  width: 25%;
}

.columna img {
  max-width: 20%;
  height: auto;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1
