header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100px;
  height: auto;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav li a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

nav li a:hover {
  color: #00a8cc;
}




.hero {
  background-image: url('images/fondo1.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  color: #fff;
  max-width: 600px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}



.dos-columnas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  padding: 4rem 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}

.columna-izquierda {
  flex-basis: 50%;
}

.columna-derecha {
  flex-basis: 50%;
}

.imagen img {
  max-width: 100%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.galeria {
  background-color: #fff;
  padding: 4rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.imagenes img {
  max-width: 100%;
  height: auto;
}


/* formato de tabla*/ 

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
}

.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #333;
  color: skyblue;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #77B5FE;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 12px;
  }
  
  th, td {
    padding: 4px;
  }
}




footer {
  background-color: #333;
  color: #fff;
  padding: 4rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.columna {
  width: 20%;
}

.columna img {
  max-width: 20%;
  height: auto;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1







